.emoji-item {
  margin: 10px;
}

.emoji-button {
  background-color: #ffffff33;
  border: 1px solid #ffffff30;
  border-radius: 12px;
  padding: 20px;
  cursor: pointer;
}

.emoji-image {
  width: 60px;
}