.bg-container {
  min-height: 100vh;
  background-color: #9796f0;
  padding: 20px;
}

.emojis-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}