.win-lose-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff33;
  border-radius: 16px;
  padding: 30px;
  width: 600px;
  margin: auto;
  margin-top: 40px;
}

.details-container {
  text-align: center;
  margin-right: 40px;
}

.result-text {
  font-size: 40px;
  color: white;
}

.score-text {
  color: white;
  font-size: 20px;
}

.score-value {
  font-size: 32px;
  color: #6a59ff;
  font-weight: bold;
}

.play-again-btn {
  background-color: #ffce27;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.result-img {
  width: 250px;
}