/* Write your code here. */
.scores {
  display: flex;
  align-items: space-around;
  column-gap: 20px;
}
.logo {
  display: flex;
  align-items: space-around;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-around;
}
